


$primary_color : #1b7fc3;
$secondary_color : #33b27b;
$tertiary_white : #fff;
$tertiary_black : #000;
$background_color : #f5f5f5;
$light_black : #1c1d1f;
$yellow : #f57f20;
$grey : grey;

@import 'reset';

/** navbar **/

.main_nav {
    height: 50px;
}

.main_nav .container {
    max-width: 90% !important;
}

.navbar {
    color: #000 !important;
}

.navbar .nav-link, .navbar-brand {
    color: #fff;
}

.navbar-bg-color {
    background-color: $primary_color !important;
}

/** dashboard **/

.dashboard {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: auto;
}


.dashboard .dashboard_container {
    width: 97%;
    margin: auto;
}

.dashboard_menu {
    background-color: #fff;
    margin: 20px auto;
    padding: 5px 5px;
    border-radius: 5px;
}

.dashboard_menu ul {
    margin: 20px 0px;
}

.dashboard_menu ul li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.dashboard_menu ul li i.fa.fa-tachometer-alt, i.fa.fa-truck, i.fa.fa-money-bill-alt, i.fa.fa-money-bill, i.fa.fa-user, i.fa.fa-book, i.fa.fa-edit, i.fa.fa-trash {
    color: $secondary_color;
}

.dashboard_menu ul li:nth-child(1) {
    width: 86%;
}

.dashboard_container .analytics {
    width: 90%;
    margin: 40px auto;
}

.analytics .earnings {
    width: 250px;
    height: 80px;
    background-color: $primary_color ;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.2);
}

.earnings h3 {
    color: #fff;
    padding: 8px 0px 5px 8px;
}

.earnings p {
    padding-left: 5px;
    color: #fff;
}

.earnings i.fa.fa-money-bill-alt {
    color: #000;
}

.analytics .withdrawn_earnings {
    width: 250px;
    height: 75px;
    background-color: $secondary_color;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.2);
}

.analytics .balance {
    width: 250px;
    height: 75px;
    background-color: $yellow ;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.2);
}

.withdrawn_earnings h3 {
    color: #fff;
    padding: 8px 0px 5px 8px;
}

.withdrawn_earnings p {
    padding-left: 5px;
    color: #fff;
}

.withdrawn_earnings i.fa.fa-money-bill {
    color: #000;
}

.balance h3 {
    color: #fff;
    padding: 8px 0px 5px 8px;
}

.balance p {
    padding-left: 8px;
    color: #fff;
}

.balance i.fa.fa-money-bill {
    color: #000;
}

.analytics .graph {
    margin-top: 20px;
}

/** delivery requests **/

.delivery_requests {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh
}


.delivery_requests .delivery_requests_container {
    width: 97%;
    margin: auto;

}

.delivery_requests_container .right h3 {
    padding: 10px 0px;
}

/** Earnings **/

.earnings {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh
}

.earnings .earnings_container {
    width: 97%;
    margin: auto;
}


.earnings_container .right h2 {
    padding: 10px;
}

/** Partner Profile **/

.profile_partner {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh
}

.profile_partner .profile_partner_container {
    width: 97%;
    margin: auto;
}

.profile_partner_container .right {
    width: 90%;
    margin: 40px auto;
}

.profile_partner_container .right h3 {
    padding-bottom: 10px;
}

.profile_partner_container .right .btn .btn-success {
    background-color: $primary_color !important;
}

/** View Request **/

.view_request {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh
}

.view_request .view_request_container {
    width: 97%;
    margin: auto;
}

.view_request_container .right .summary {
    padding: 20px 3px;
}

.right .summary h2 {
    padding-bottom: 12px;
}

.right .summary .details {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.summary .details h4 {
    padding-bottom: 5px;
}

/** Accepted **/

.accepted {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh
}

.accepted .accepted_container {
    width: 97%;
    margin: auto;
}

.accepted_container .right h3 {
    padding: 15px 0px;
}

/** Arrival Time **/
.arrival_time {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh
}

.arrival_time .arrival_time_container {
    width: 97%;
    margin: auto;
}

.arrival_time_container .right h2 {
    padding: 15px 0px;
}

/** Withdrawal Request **/
.withdrawal_request {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh
}

.withdrawal_request .withdrawal_request_container {
    width: 97%;
    margin: auto;
}

.withdrawal_request_container h3 {
    padding: 20px 0px;
}

/** Withdrawal summary **/
.withdrawals {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh
}

.withdrawals .withdrawals_container {
    width: 97%;
    margin: auto;
}

.withdrawals_container h3 {
    padding: 20px 0px;
}