RewriteEngine On

DirectoryIndex dashboard.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^view-request/([^/]+)/?$ view-request.php?request=$1 [L,QSA]
RewriteRule ^delivery-requests/([^/]+)/?$ delivery-requests.php?page=$1 [L,QSA]
RewriteRule ^accepted/([^/]+)/?$ accepted.php?page=$1 [L,QSA]
RewriteRule ^earnings-summary/([^/]+)/?$ earnings-summary.php?page=$1 [L,QSA]
RewriteRule ^arrival-time/([^/]+)/?$ arrival-time.php?edit=$1 [L,QSA]
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^partner dashboard.php [L,QSA]