
$primary_color : #1b7fc3;
$secondary_color : #33b27b;
$tertiary_white : #fff;
$tertiary_black : #000;
$background_color : #f5f5f5;
$light_black : #1c1d1f;
$yellow : #f57f20;
$grey : grey;


@import 'reset';

/** navbar **/

.main_nav {
    height: 50px;
}

.main_nav .container {
    max-width: 90% !important;
}

.navbar {
    color: #000 !important;
}

.navbar .nav-link, .navbar-brand {
    color: #fff;
}

.navbar-bg-color {
    background-color: $primary_color !important;
}

/** Sidenav **/

.dashboard_menu {
    background-color: #fff;
    margin: 30px auto;
    padding: 20px 5px;
    border-radius: 5px;

}

.dashboard_menu ul {
    margin-bottom: 20px;
}

.dashboard_menu ul li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.dashboard_menu i.fa.fa-tachometer-alt, i.fa.fa-users, i.fa.fa-user, i.fa.fa-cog, i.fa.fa-truck, i.fa.fa-money-bill, i.fa.fa-comments {
    color: $secondary_color !important;
}

.dashboard_menu ul li:nth-child(1) {
    width: 86%;
}

.dashboard .summary {
    width: 90%;
    margin: 40px auto;
}

/** dashboard **/

.dashboard {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    min-height: 100vh;
}


.dashboard .dashboard_container {
    width: 97%;
    margin: auto;
}



.summary .total_revenue, .partners, .merchants {
    width: 250px;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}

.summary .total_revenue {
    background-color: $primary_color;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.4);
}

.summary .partners {
    background-color: $secondary_color;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.4);
}

.summary .merchants {
    background-color : $yellow;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.4);
}

.summary .total_revenue i.fa.fa-users{
    color: #000;
}

.summary .partners i.fa.fa-users {
    color: #000 !important;
}

.summary .merchants i.fa.fa-user {
    color: #000 !important;
}

.summary h3 {
    color: #fff;
    padding-bottom: 10px;
}

.analytics {
    margin-top: 20px;
}

/** Partners **/

.partner {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    min-height: 100vh;
}


.partner .partner_container {
    width: 97%;
    margin: auto;

}

.partner_right h2{
    padding: 20px 0px;
}

/** Merchants **/

.merchant {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    min-height: 100vh;
}


.merchant .merchant_container {
    width: 97%;
    margin: auto;

}

.merchant_right h2{
    padding: 20px 0px;
}

/** Deliveries **/

.delivery {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    min-height: 100vh;
}


.delivery .delivery_container {
    width: 97%;
    margin: auto;

}

.delivery_right h2{
    padding: 10px 0px;
}

/** Users **/

.users {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    min-height: 100vh;
}


.users .users_container {
    width: 97%;
    margin: auto;

}

.users_container .users_right h2 {
    padding: 10px 0px;
}

.users_right .users_header {
    display: flex;
    align-items: space-between;
}

.users_header a {
    padding: 8px 15px;
    background-color: $primary_color;
    border-radius: 5px;
}

/** login page **/

.login .login_container {
	width: 100%;
	height: 600px;
}

.login_container  .login_form  {
	position: absolute;
	width: 400px;
	height: auto;
	box-sizing: border-box;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 20px;
}

.login_form input[type=text], input[type=password] {
	margin-bottom: 10px;
}

.login_form h5 {
	padding:10px 0px;
	text-align: center;
}

.login_form p {
	text-align: center;
}

.login_form .btn-success {
	background-color: $primary_color !important;
}

/** Admin Navbar **/

.main_nav .nav_title {
    height: 50px;
    background-color: $primary_color;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

/** Add Users **/
.add_user {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh;
}


.add_user .add_user_container {
    width: 97%;
    margin: auto;

}

.add_user_container  h2 {
    padding: 10px 0px;
}

.add_user_container .right {
    width: 80%;
}  

/** Partner View **/
.partner_view {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    min-height: 100vh;
}


.partner_view .partner_view_container {
    width: 97%;
    margin: auto;

}

.partner_view_container .right h2 {
    padding: 15px 0px;
}

.right .partner_information {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 20px;
}

.partner_information h5 {
    padding-bottom: 10px;
}

.partner_information a {
    color: blue;
    text-decoration: underline;
}

/** Edit Deliveries **/

.edit_deliveries {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
}

.edit_deliveries .edit_deliveries_container {
    width: 97%;
    margin: auto;

}

.edit_deliveries_container h2 {
    padding-top: 15px;
}


/** Withdrawals **/
.withdrawals {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.withdrawals .withdrawals_container {
    width: 97%;
    margin: auto;

}

.withdrawals_container h3 {
    padding: 20px 0px;
}

.withdrawals_container table td {
    text-align: center;
}

.withdrawals_container table i.fa.fa-check-circle, i.fa.fa-minus-circle {
    font-size: 20px;
}

/** Complaints **/
.complaints {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.complaints .complaints_container {
    width: 97%;
    margin: auto;

}

.complaints_container h2 {
    padding: 20px 0px;
}