


$primary_color : #1b7fc3;
$secondary_color : #33b27b;
$tertiary_white : #fff;
$tertiary_black : #000;
$background_color : #f5f5f5;
$light_black : #1c1d1f;
$yellow : #f57f20;
$grey : grey;

@import 'reset';

/** navbar **/

.main_nav {
    height: 50px;
}

.main_nav .container {
    max-width: 90% !important;
}

.navbar {
    color: #fff !important;
}

.navbar .nav-link, .navbar-brand {
    color: #fff;
}

.navbar-bg-color {
    background-color: $primary_color !important;
}

/** dashboard **/

.dashboard {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: auto;
}


.dashboard .dashboard_container {
    width: 97%;
    margin: auto;
}

.dashboard_menu {
    background-color: #fff;
    margin: auto;
    padding: 20px 5px;
}

.dashboard_menu ul {
    margin-bottom: 20px;
}

.dashboard_menu ul li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.dashboard_menu ul li i.fa.fa-tachometer-alt, i.fa.fa-key, i.fa.fa-user, i.fa.fa-chart-pie, i.fa.fa-book, i.fa.fa-edit {
    color: $secondary_color;
}

.dashboard_menu ul li:nth-child(1) {
    width: 86%;
}

.dashboard .dashboard_summary {
    width: 90%;
    margin: 40px auto;
}

.dashboard_summary .deliveries,.spendings,.balance {
    width: 250px;
    height: 75px;
    border-radius: 5px;
    margin: 10px auto;
}

.dashboard_summary .deliveries {
    background-color: $primary_color;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.2);
}

.dashboard_summary .spendings {
    background-color: $secondary_color;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.2);
}

.dashboard_summary .balance {
    background-color: $yellow;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.2);
}

.deliveries,.spendings,.balance {
    box-sizing: border-box;
    cursor: pointer;
}

.deliveries h3, .spendings h3, .balance h3 {
    padding: 8px 0px 5px 5px;
    color: #fff;
}

.deliveries p, .spendings p, .balance p {
    color: #fff;
    text-align: right;
    padding: 0px 8px 5px 0px
}


.deliveries i.fa.fa-truck, .spendings i.fa.fa-money-bill-wave, .balance i.fa.fa-money-bill-alt {
    color: #000;
}

/** Graph **/

.chart {
    margin: 20px auto;
}

/** Generate API **/

.generate_api {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh;
}


.generate_api .generate_api_container  {
    width: 97%;
    margin: auto;
}


.right_api h2 {
    padding: 10px;
}

.right_api .btn-success {
    background-color: $primary_color !important;
    margin-left: 10px;
}

/** Profile **/

.profile {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: auto;
}


.profile .profile_container {
    width: 97%;
    margin: auto;
}

.profile_container .profile_right {
    width: 80%;
    margin: 30px auto;
}

.profile_right h2 {
    padding-bottom: 15px;
}

.profile_right .btn-success {
    background-color: $primary_color !important;
}

/** Summary **/

.summary{
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh;
}


.summary .summary_container {
    width: 97%;
    margin: auto;
}

.right_summary h2 {
    padding: 10px;
}

/** Requests **/

.request{
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: auto;
}


.request .request_container {
    width: 97%;
    margin: auto;
}

.request_container .right_request {
    width: 80%;
    margin: 30px auto;
}

.right_request h2 {
    padding-bottom: 15px;
}

.right_request .btn-success {
    background-color: $primary_color !important;
}

/** order tracking **/

.track {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    height: auto;
}

.track .track_container {
    width: 97%;
    margin: auto;
}

.track_container .right {
    padding: 20px 0px;
}

.track_container h2 {
    padding-bottom: 8px;
}

.track_container .tracking_data {
    background-color: #fff;
    height: 100px;
    box-sizing: border-box;
}

.tracking_data ul{
    list-style: none;
}

.tracking_data ul li {
    display: inline-block;
    padding: 30px 115px;
}

.tracking_data ul li i.fa.fa-gift, i.fa.fa-truck, i.fa.fa-box-open {
    font-size: 30px;
}

.tracking_data ul li i.fa.fa-truck, i.fa.fa-box-open {
    color: #f5f5f5;
}

.right .driver_data {
    background-color: #fff;
}

.driver_data ul {
    list-style: none;
}

.driver_data ul li {
    display: block;
    padding: 20px 5px;
}
